ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  list-style: none;
  gap: 10px;
  .empty-task {
    display: grid;
    place-items: center;
    grid-column: 1 / -1;
  }
}
