*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
}
body{
    background-color: #06AED5;
}
h1{
    text-align: center;
    color: white;
    padding-top: 3rem;
    font-size: 45px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
   padding: 5rem 10rem;
   gap: 2rem;
}
#numbers{
    width: 20rem;
    height: 20rem;
    background-color: #086788;
}
#words{
    background-color: #086788;
    width: 20rem;
    height: 20rem;
}
#wordsOutput{
    color: white;
    font-size: 25px;
    position: relative;
    top: 35%;
    padding-left: 2%;
}
#numbersInput{
    position: relative;
    top: 45%;
    left: 28%;
    border-radius: 5px;
}